.box1{
    background-color: #F0F0F0;;
    padding-top: 1%;
    margin-top: 5px;
   
}

.mainBox{
    height: 100%;
    width: 100%;
margin-top: 0px;
padding-top: 80px;
}


.textInput{
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow:  0 0 10px  rgba(150, 150, 150, 0.1); 

}


#testName{
    padding: 15px;
    padding-right: 80px;
    margin-top: 0;
    margin-bottom: 2%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.questionBox{
    background-color: #F0F0F0;;
    padding-top: 1%;
    margin-top: 5px;}


#firstQuestion{
    display: none;
}