.mainBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    height: 100vh;
   
}

.header{
    text-align: center;
    font-size: x-large;
    background-color: #f0f0f0;
}

.header h1{
    margin: 0;
}
.boxb{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#backgroundColor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 50%;
    width: 100%;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 10px;
 
}


.boxa{
    display: flex;
    align-items: center;
    justify-content: center;

}
.boxc{
    display: flex;
    align-items: center;
    justify-content: center;
  
}



#formLogo{
    align-self: center;
    margin-bottom: 20px;
    font-weight: 800;

}

input{
    box-shadow:  0 0 10px  rgba(150, 150, 150, 0.15);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

input:focus {
    outline: rgba(150, 150, 150, 0.2) solid 1px;
    
  }

label{
 font-weight: 600;
}

#login{
    background-color: #222222;
    color: white;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: none;
    box-shadow:  0 0 10px  rgba(150, 150, 150, 0.15);
    align-self: center;
    margin-top: 10px;
}

@media (max-width: 900px) { 
    .boxa, .boxc{
      display: none;
    }

    .mainBox{
      
        grid-template-columns: 1fr;
       
       
    }
  
    
   }