body{
    margin:0;
    font-family: 'Open Sans', sans-serif !important;
   
}

html, 
body {
    height: 100%;
    scroll-behavior: smooth;
}










.navbar{
  background-color: #F0F0F0 !important;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow:  0 0.2px 1px rgba(0,0,0,0.10);
  z-index: 100;
 
  
}


.navbar-brand{
 margin: 5px 0 0 10px;
 color: #222222 !important;
 font-size: 24px;
 font-weight: 400;
 font-family: 'Open Sans', sans-serif !important;
 

 
}

.nav-links{
  margin-right: 100px;
  
  
}

.nav-links a {
  margin: 0 50px;
  color: #222222 !important;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif !important;
}




.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

