
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header{
    text-align: center;
    font-size: x-large;
    background-color: #f0f0f0;
}

.header h1{
    margin: 0;
}


/* .mainBox{
    display: inline-block;
    margin-top: 67px;
    height: 100%;
    } */



#outerLine{
    height: 14px;
    width: 70%;
    background-color: #F0F0F0;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border:  1px solid #22222270;
    box-shadow:  0 0 10px  rgba(150, 150, 150, 0.2); 

}

#innerLine{
height: 6px;
width: 99%;
background-color: #222222a9;
border-radius: 10px;
margin-left: 3px;

transition: width 0.5s;

}

#time{
    align-self: flex-start;
    margin-left : 15%;
    
}